
<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>添加用户 - Accounts9</title>
  <!--<link href='//fonts.googleapis.com/css?family=Ubuntu:300' rel='stylesheet' type='text/css'>-->
</head>
<body>
          <form class="horizontal" method="post">
  <fieldset>
    <legend>添加用户</legend>
    <div class="field">
      <label class="control-label" for="name">用户名</label>
      <div class="controls">
        <input type="text" class="text" id="name" name="name">
      </div>
    </div>
    <div class="form-actions">
      <button type="submit" >提交</button>
      <a href="/group/class20142" class="btn">取消</a>
    </div>
  </fieldset>
</form>
</body>
</html>
